<!-- Section: Products v.1 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">PC Games</h2>
  <!-- Section heading -->


  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-xs-3">
      <!-- Card -->
      <div class="card-cascade narrower card-ecommerce" style"width: 220px; height: 330px;">
        <!-- Card image -->
        <div class="view-cascade overlay">
          <img src="http://i.imgur.com/wCzv0AR.png" class="card-img-top"
            alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
      </div>
      <!-- Card -->
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xs-3">
      <!-- Card -->
      <div class=" card-cascade narrower card-ecommerce" style"width: 220px; height: 330px;">
        <!-- Card image -->
        <div class="view-cascade overlay">
          <img src="https://i.pinimg.com/originals/55/16/35/551635b9724782cc7647e42986904894.png" class="card-img-top"
            alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->

      </div>
      <!-- Card -->
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xs-3">
      <!-- Card -->
      <div class="card-cascade narrower card-ecommerce" style"width: 220px; height: 330px;">
        <!-- Card image -->
        <div class="view-cascade overlay">
          <img src="http://i.imgur.com/r3tybk1.png" class="card-img-top"
            alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
      </div>
      <!-- Card -->
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xs-3">
      <!-- Card -->
      <div class="card-cascade narrower card-ecommerce" style"width: 220px; height: 330px;">
        <!-- Card image -->
        <div class="view-cascade overlay">
          <img src="https://i.imgur.com/3GC1V0j.png" class="card-img-top"
            alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->

      </div>
      <!-- Card -->
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xs">
      <!-- Card -->
      <div class="card-cascade narrower card-ecommerce" style"width: 220px; height: 330px;">
        <!-- Card image -->
        <div class="view-cascade overlay">
          <img src="https://i.imgur.com/3GC1V0j.png" class="card-img-top"
            alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->

      </div>
      <!-- Card -->
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</section>
<!-- Section: Products v.1 -->

<br>

<%= link_to 'New Game', new_game_path %>
