<div class="container">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold text-center my-5 retro-header">PC Games</h1>
  <!-- Section heading -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
 <% @games.each do |game| %>
    <div class="col-md-3">
      <!-- Card -->
      <div class="card-cascade narrower card-ecommerce">
        <!-- Card image -->
        <div class="view-cascade overlay">
          <%= link_to game, remote: true do %>
            <%= image_tag game.image.url, class: "card-img-top ", alt: "sample photo", style: "width:238px; height: 358px;" %>
          <% end %>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
      </div>
      <!-- Card -->
    </div>  <br>
   <% end %>
    <!-- Grid column -->

<br>
  </div>
  <!-- Grid row -->

</div>

<div id="new_game">
  <%= link_to "New Game", new_game_path, remote: true, class: 'new_game'%>
</div>