    <!-- Grid column -->
    <div class="col-xs-3">
      <!-- Card -->
      <div class="card-cascade narrower card-ecommerce" style"width: 220px; height: 330px;">
        <!-- Card image -->
        <div class="view-cascade overlay">
            <%= image_tag game.image.url, class: "card-img-top ", alt: "sample photo", style: "width:220px; height: 330px;" %>
          <a>

            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
      </div>
      <!-- Card -->
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Grid column -->


  </div>
  <!-- Grid row -->
